<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}" />
        <title>Dashboard</title>
    </head>
    <body>
        <header>
            <h1>User Dashboard</h1>
            <nav>
                <a href="/">News</a>  <!-- 사이트맵 링크 -->

                {% if current_user.is_authenticated %}
                    <a href="/dashboard">대시보드</a>  <!-- 로그인 상태에서만 프로필 링크 -->
                    <a href="/logout" class="login-btn">Logout</a>
                {% else %}
                    <a href="/login" class="login-btn">Login</a>
                {% endif %}
            </nav>
        </header>

        <!-- 페이지 콘텐츠 영역 -->
        <div>
            <h2>History</h2>
            <ul>
                {% for item in histories %}
                    <li> {{ item }} </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>